<!-- Input for that is integrated with HTMX. On submit (the trigger) should call endopint. -->
<form id="corinateInputForm" hx-post="/explorer/coordinates" hx-target="this" hx-swap="innerHTML" hx-trigger="submit" data-title="{{ title }}">
        
    <!-- Container for Cordiante form -->
    <div class="container">
        <div class="row">
            <!-- Coordinates Input. This input data is sent as FORM(...) string to the fast API endpoint. Ie 123, 345 -->
            <div class="col-12 col-lg">
                <input type="text" class="form-control" name="coordinateContent" id="coordinatesInput" placeholder="Latitude, Longitude">
            </div>
                
            <!-- Radio Options with Centering and Margin on Smaller Screens -->
            {% include 'explorer/coordinate-radio-options.html' %}

            <!-- Submit Button Spanning Full Width on Smaller Screens. This will trigger the `hx-trigger` in the parent form -->
            <div class="col-12 col-lg-auto mt-2 mt-lg-0">
                <button type="submit" class="btn btn-primary w-100 w-lg-auto">Submit</button>
            </div>
        </div>
    </div>
</form>
