{% extends "base.html" %}

{% block content %}
<!-- /explorer content -->
<div class="container mt-5">
    <!-- Intro -->
    {% include 'explorer/intro.html' %}

    <!-- Getting Started -->
    {% include 'explorer/getting_started.html' %}
    
    <!-- Content -->
    {% include 'fragments/map.html' with context %}
    {% include 'explorer/history.html' with context %}
</div>
{% endblock %}

{% block javascript %}
<script>
    // Parse the coordinates JSON passed from the server
    var coordinates = JSON.parse('{{ coordinates | tojson | safe }}');

    // Initialize the Leaflet map centered over the United States
    var map = L.map('map').setView([37.0902, -95.7129], 4); // Adjusted for the US with a suitable zoom level

    // Add an OpenStreetMap tile layer to the map
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Iterate over the coordinates to add markers to the map
    coordinates.forEach(function(coordinate) {
        console.log(JSON.stringify(coordinate));
        var marker = L.marker([coordinate.latitude, coordinate.longitude])
            .bindPopup("<b>Type:</b> " + coordinate.type + "<br><b>Latitude:</b> " + coordinate.latitude + "<br><b>Longitude:</b> " + coordinate.longitude)
            .addTo(map);
    });

    function confirmLocation() {
        // Placeholder for the function to be called when the "Confirm" button is clicked
        alert('Location confirmed!');
    }

    var popup = L.popup();
    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString() + '<br><button onclick="confirmLocation()">Confirm</button>')
            .openOn(map);
    }

    map.on('click', onMapClick);
</script>
{% endblock %}
