<style>
  .card {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgba(173, 216, 230, 0.2); /* Light blue with opacity for hover */
    transform: scale(1.05);
  }
  .selected .card {
    background-color: rgba(173, 216, 230, 0.5); /* Differentiate selected card */
  }
</style>
<div class="mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3">Getting Started</h2>
      {% include 'fragments/name_input.html' with context %}
    </div>
  </div>
</div>