<!-- Welcome Wrapper: Holds basic information for the Little David Explorer Map. -->
<div id="welcome-section">

    <!-- Header (Responsive) -->
    <header class="text-center mb-4">
        <h1>Welcome to Little David's Explorer Map!</h1>
    </header>

    <!-- Summary: Provides a quick summary for users. (Responsive) -->
    <section class="text-center mb-4">
        <p>
            Oh, the places you'll go! Our little baby David has already become a well-traveled "womb-mate", and we're excited to show him the world! Please mark where you're from so we can remind him that he has love from all over, and mark where you think we should take him as his lifelong adventure begins.
        </p>
    </section>
</div>