{% block content %}
    <!-- Map content wrapper. It's in a card. All should be wrapped in it -->
    <div class="card" data-title="{{ title }}">

        <!-- Card Body (Map content... Manual Entry of coordinates and a leafletjs map)-->
        <div class="card-body">

          <!-- User Input for for Coordinates, with htmx trigger -->
          {% include 'explorer/coordinate-form.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    htmx.on('htmx:afterSwap', function(event) {
        var cardElement = document.querySelector('.card');
        if (cardElement) {
            var title = cardElement.getAttribute('data-title');
            console.log(`Title222 from the response: ${title}`);
        }
    });
</script>
{% endblock %}