.custom-popup {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 10px;
}

.popup-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkbox-container {
    margin: 10px 0;
}

.checkbox-container label {
    display: block;
    margin-bottom: 5px;
}

.confirm-button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.confirm-button:hover {
    background-color: #45a049;
}

.marker-pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
  }
  .marker-pin::after {
      content: '';
      width: 24px;
      height: 24px;
      margin: 3px 0 0 3px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
   }
  
  .custom-div-icon i {
     position: absolute;
     width: 22px;
     font-size: 22px;
     left: 0;
     right: 0;
     margin: 10px auto;
     text-align: center;
  }